
@use "sass:math";

html, body {
  margin: 0 auto;
}

// px -> rem
@function r($px) {
  @return to-fixed(math.div($px,75), 2) * 1rem;
}

.steps-text {
  position: relative;
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  animation: steps-width 2s steps(10) forwards;
  &::after {
    content: "";
    position: absolute;
    right: 0px;
    height: 32px;
    border-right: 1px solid #000;
    animation: steps-showInfinite 1s infinite both;
  }
}


@keyframes steps-width {
  0% {
    width: 0;
  }
  100% {
    width: 13em;
  }
}
@keyframes steps-showInfinite {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
